:root {
    --strongColor: #ffc300;
    --secondaryColor: #ff7b00;
    --whiteColor: #ffffff;
    --blackColor: #000000;
    --greyColor: #1a1a1a;
    --lightGreyColor: #626262;
    --primaryFont: "Arial", sans-serif;
    --secondaryFont: "sans-serif", sans-serif;
    --smallTitleFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    all: unset;
}

button {
    all: unset;
}

img {
    width: 100%;
}

* {
    margin: 0 auto;
    box-sizing: border-box;
}

header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: var(--greyColor);
    box-shadow: 0px -6px 20px;
    top: 0;
}

#header-div {
    width: 100%;
    height: 57px;
    margin-top: 16px;
    margin-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

#header-logo {
    width: 200px;
    height: auto;
    border-radius: 0;
}

#header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hamburguer-menu-icon {
    width: 8%;
    display: block;
    cursor: pointer;
    margin: 0;
    margin-right: 16px;
}

#hamburguer-menu-icon.active {
    cursor: pointer;
}

.bar {
    display: block;
    max-width: 36px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--whiteColor);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#hamburguer-menu-icon.active .bar:nth-child(1) {
    opacity: 0;
}

#hamburguer-menu-icon.active .bar:nth-child(2) {
    transform: translateY(4px) rotate(45deg);
}

#hamburguer-menu-icon.active .bar:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
}

a {
    all: unset;
    cursor: pointer;
}

nav {
    font-size: 1.125rem;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--greyColor);
    top: 80px;
    left: 0;
    gap: 0;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    transform: translateX(100%);
}

nav.active {
    transform: translateX(0px);
    transition-delay: .2s;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0;
    margin-right: 5rem;
}

nav ul li {
    color: var(--whiteColor);
    font-weight: bold;
    text-align: right;
    margin: 0;
}

body {
    font-family: var(--secondaryFont);
    font-size: var(--bodyFontSize);
    color: var(--greyColor);
}

.common-padding {
    max-width: 90rem;
    padding: 0 4%;
}

h1, h2, h3, .small-title {
    font-family: var(--primaryFont);
    margin: 1rem auto;
    color: var(--blackColor);
}

h1 {
    font-size: 1.75rem;
}

section p {
    color: var(--lightGreyColor);
    font-family: var(--secondaryFont);
    line-height: 1.75rem;
}

.call-to-action {
    all: unset;
    font-family: var(--primaryFont);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
    height: fit-content;
    padding: 1rem 2rem;
    color: var(--whiteColor);
    background-color: var(--secondaryColor);
    margin-top: 1rem;
}

.call-to-action:hover {
    background-color: var(--strongColor);
}

main {
    margin-top: 100px;
}

.section-servicio {
    margin-bottom: 3rem;
}

.section-servicio .common-padding {
    display: flex;
    flex-direction: column-reverse;
}

.section-servicio .text-container {
    margin-top: 1rem;
}

.servicio-img {
    width: 100%;
}

.section-servicio .button-container {
    margin-top: 1rem;
}

.section-productos-relacionados {
    margin-top: 2rem;
}

.li-productos-relacionados {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.li-productos-relacionados img {
    border-radius: 20px;
}

.li-productos-relacionados h3 {
    margin: 0.5rem auto;
    max-width: 20ch;
}

.li-productos-relacionados p {
    line-height: 0.75rem;
}

.splide__arrow {
    background: none !important;
}

.splide__arrow.splide__arrow--prev svg {
    position: absolute;
    right: 28px;
}

.splide__arrow.splide__arrow--next svg {
    position: absolute;
    left: 28px !important;
}

.miled-hr {
    max-width: 100%;
    text-align: center;
    border: solid 1px #e9e9e9;
}

#contactanos-statement .common-padding {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 23%, rgba(237, 237, 237, 1) 78%, rgba(230, 230, 230, 1) 100%);
}

#contactanos-statement h1 {
    font-size: 3rem;
    text-align: center;
    max-width: 12ch;
}

#contactanos-medios {
    position: relative;
    z-index: 100;
    color: var(--whiteColor);
    background-color: var(--blackColor);
    margin-bottom: -2rem;
    padding: 4rem 0;
}

#ul-medios-de-contacto {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 3rem;
}

#ul-medios-de-contacto li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
}

#contactanos-medios .text-container {
    margin-left: 0;
}

#contactanos-medios h2 {
    color: var(--whiteColor);
    margin: 0.125rem 0;
}

#contactanos-medios .icon-container {
    margin-right: 0;
}

#contactanos-medios svg {
    width: 3rem;
    height: auto;
}

#contactanos-medios path {
    fill: var(--whiteColor);
}

footer {
    margin-top: 2rem;
    padding-top: 2rem;
    background-color: #212121;
    color: var(--whiteColor);
}

footer .section-padding {
    padding-bottom: 0;
}

footer a:hover {
    cursor: pointer;
    color: var(--strongColor);
    transition: all 0.2s ease;
}

#footer-div-top picture {
    margin: 0;
    padding: 0 4%;
}

#footer-div-top-logo {
    margin: 0;
    padding: 1rem 0;
    max-width: 80%;
    height: auto;
    align-self: left;
    border-radius: 0;
}

#footer-div-top {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 1rem;
}

.footer-section {
    text-align: center;
    margin: 1rem 0;
    text-align: left;
    font-size: 1rem;
    line-height: 1rem;
}

footer h4 {
    font-size: 1.125rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

footer p {
    line-height: 1.5rem;
    color: var(--whiteColor);
}

footer ul li {
    margin: 0;
    padding: 0.5rem 0;
}

#footer-div-top-contacto li {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

#footer-div-top-contacto .contacto-title {
    font-weight: bold;
    margin-left: 0;
}

#footer-div-top-contacto .contacto-text {
    margin-left: 0;
}

#footer-top-seguinos ul {
    display: flex;
    justify-content: left;
    gap: 0.75rem;
    align-content: center;
}

.social-media-link svg {
    width: 2rem;
    height: auto;
}

.social-media-link path {
    fill: var(--whiteColor);
}

.social-media-link svg:hover path {
    fill: var(--strongColor);
    transition: all 0.2s ease;
}

footer hr {
    color: initial;
}

#footer-p-copyright {
    max-width: none;
    text-align: center;
    padding: 1.5rem;
}

.wsp-flotante {
    width: 82px;
    height: 82px;
    cursor: pointer;
    border-radius: 60px;
    border: none;
    background-color: #25D366;
    position: fixed;
    bottom: 20px;
    right: 0;
    translate: -30% 0;
    z-index: 10000;
    display: grid;
    place-content: center;
    transition: all 0.3s;
    padding: 0.75rem;
    box-shadow: 0px 0px 6px rgb(99, 99, 99);
}

.wsp-flotante svg {
    width: 100%;
    height: auto;
}

.wsp-flotante svg path {
    fill: var(--whiteColor);
}

@media (min-width: 992px) {
    #header-div {
        width: 80%;
        max-width: 90rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 36px;
        font-size: 1rem;
    }

    #header-logo {
        width: 120px;
    }

    #hamburguer-menu-icon {
        display: none;
    }

    nav {
        width: auto;
        position: inherit;
        top: 0;
        left: 0;
        box-shadow: none;
        transition: none;
        transform: none;
    }

    nav ul {
        flex-direction: row;
        margin: 0 auto;
        gap: 36px;
    }

    .nav-li-element {
        background: 
           linear-gradient(currentColor 0 0) 
           var(--d, 201%) 100% /200% 2px 
           no-repeat;
      }
      
    .nav-li-element:hover {
        --d: -101%;
        transition: 0.75s
    }

    nav ul a {
        font-size: 1.125rem;
    }

    footer .common-padding {
        padding-bottom: 0;
    }

    #footer-div-top {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    #footer-div-top > * {
        width: 20%;
        gap: 1rem;
    }

    #footer-div-top-logo {
        max-width: 30%;
    }

    .footer-section {
        text-align: left;
    }

    #footer-top-seguinos ul {
        text-align: left;
    }

    footer hr {
        display: none;
        border: solid 1px rgb(61, 61, 61);
        width: 70%;
    }
}